<section id="appDetails">
<video controls>
  <source src="/video/{{ moviesrc }}" type="video/mp4">
</video>

<section class="video-details">
  <h2>{{movieData.movies_title}}</h2>
  <div class="video-socials">
    <img src="/images/facebook.svg" alt="Facebook icon">
    <img src="/images/twitter.svg" alt="Twitter icon">
    <img src="/images/instagram.svg" alt="Instagram icon">
  </div>
  <div class="info">
    <p>{{movieData.movies_year}}</p>
    <p class="rating">{{ rating }}</p>
  </div>
  <div class="storyline">
    <h3>STORYLINE:</h3>
    <p>{{movieData.movies_storyline}}</p>
  </div>
  <div class="reviews">
    <h3>REVIEWS:</h3>
    <p>There are no reviews. Be the first and submit one below.</p>
  </div>
  <aside class="add-comment" :class="{ floatRight : reviews.length > 0 }">
    <!-- add our own reviews -->
    <h4 class="review-heading">Add a Review</h4>
    <span class="hidden movId">{{movie}}</span>
    <!-- <input type="range" name="myRange" id="myRange" min="0" max="5" step="1" v-model="numStars"> -->
    <review-stars v-model="numStars" :disabled="false"></review-stars>
    <!-- <label for="myRange">${numStars} -Star Review</label> -->
    <textarea name="review" id="review" placeholder="What did you think?" v-model="review"></textarea>
    <input type="submit" name="submit" value="Submit Your Review" v-on:click="addReview">

  </aside>
  <!-- <form class="" action="index.html" method="post">
    <label for="">Write a comment:</label>
    <textarea type="text" name="" placeholder="Add a comment or write a review."></textarea>
    <input type="submit" name="submit" value="Add Comment">
  </form> -->

  <article class="comments reviews" v-if="reviews.length > 0">
  		<dir v-for="review in reviews" :key="review.id">
  		<review-stars :value="review.comments_rating" :disabled="true"></review-stars>
  			<i class="post-date">${review.comments_date}</i>
  			<p>
  				${review.comments_copy}
  			</p>
  		</dir>

  	</article>

    <!-- aside => add our own reviews -->


</section>
</section>
